html,
body {
  margin: 0;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  margin: 0 0.5em;
  cursor: pointer;
}

.search {
  border: 0;
  background-color: inherit;
  color: #979aa4;
  font-size: 1.3em;
}

#login-button {
  color: white;
  background: inherit;
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 0;
}

#register-button, #seeMore {
  margin: 0.5em;
  padding: 0.5em 1em;
  color: white;
  font-weight: 700;
  background-color: #bc0f0f;
  border: 0;
}

#mainButton {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: #1579bc;
  color: inherit;
  border: 0;
  border-radius: 5px;
  padding: 0.5em 3em;
  margin-top: 1em;
}

#seeMore {
  text-transform: uppercase;
  padding: 0.75em 3em;
  margin-top: 2em;
}

nav {
  background: black;
  border-bottom: 1px solid red;
}
nav #navTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navLogo {
  padding: 0 0.5em;
}
nav input {
  background-color: inherit;
  border: 0;
  color: #979aa4;
  font-weight: 700;
}
nav ul {
  margin: 0;
  padding: 0 0.5em;
  height: 100%;
  border-right: 1px solid rgba(128, 128, 128, 0.4);
}
nav ul li {
  color: white;
  padding: 1em 0.5em;
}
nav ul li i {
  font-size: 1.1em;
}

#subNav {
  background-color: #26282a;
  color: #979aa4;
}
#subNav ul {
  margin: 0;
  display: flex;
}
#subNav ul li {
  padding: 1em;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  nav input,
nav .socials,
nav .userArea {
    display: none;
  }
  #subNav {
    display: none;
  }
  #navTop {
    width: 100%;
    justify-content: space-between !important;
  }
  #navTop .bi-list {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1025px) {
  .bi-list {
    display: none;
  }
}
article {
  display: flex;
  flex-direction: column;
  color: white;
}
article .mainBg {
  height: 550px;
  background-image: url(/assets/img/main-bg.png);
  background-position-y: top;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: black;
}
article .mainContent {
  padding: 1.5em;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
article .mainContent div {
  margin-top: 2em;
}
article .mainContent div h1 {
  text-shadow: 2px 2px 8px #000000;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
}
article .mainContent div p {
  font-size: 1.25rem;
  text-shadow: 6px 5px 8px #000000;
}
article #subMainContent {
  height: 100%;
  padding-top: 2em;
  background-image: url(/assets/img/banner-vignette.png);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
}
article #subMainContent img {
  width: 24vw;
}

#partnership {
  background-color: #bc0f0f;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  article {
    /* display: block; */
  }
  article .mainBg {
    width: 100%;
    background-image: url(/assets/img/main-bg-mobile.png);
    background-position-y: unset;
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: unset;
  }
  article .mainContent {
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
  article .mainContent div h1 {
    font-size: 2em;
  }
  article .mainContent div p {
    font-size: 1.1em;
    font-weight: bold;
  }
  article #subMainContent {
    flex-direction: column;
    background-position-y: bottom;
    padding-bottom: 0.25em;
  }
  article #subMainContent img {
    width: 50vw;
  }
}
#carouselRecommended {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;
}

.carousel-item {
  height: 60vh;
}

.carousel-caption h5 {
  text-transform: capitalize;
}

.carousel-pic {
  height: 100%;
  background-size: cover;
}

#c-pic-1 {
  background-image: url(/assets/img/dnd-pic-1.png);
}

#c-pic-2 {
  background-image: url(/assets/img/dnd-pic-2.png);
}

#c-pic-3 {
  background-image: url(/assets/img/dnd-pic-3.png);
}

#c-pic-4 {
  background-image: url(/assets/img/dnd-pic-4.png);
}

#upperFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em 0;
  background-color: #26282a;
  color: #979aa4;
}
#upperFooter #footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#upperFooter #footerLogo span {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-top: -10px;
  font-weight: bold;
  font-size: 1em;
}
#upperFooter .footerLinks {
  width: 50%;
}
#upperFooter .footerListWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#upperFooter .footerListWrapper .footerList {
  font-family: "Roboto Condensed", sans-serif;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
#upperFooter .footerListWrapper .footerList .list-item {
  color: white;
  padding-top: 5px;
}

#lowerFooter {
  background-color: #191a1b;
  padding: 0.75em;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#lowerFooter .copyright {
  width: 70%;
}
#lowerFooter .copyright-site,
#lowerFooter #lowerFooterLinks {
  color: #979aa4;
}
#lowerFooter .copyright-site {
  padding-bottom: 0.5em;
}
#lowerFooter .rights {
  color: white;
}
#lowerFooter #lowerFooterLinks {
  align-self: flex-start;
}
#lowerFooter #lowerFooterLinks a {
  text-decoration: none;
  color: inherit;
}
#lowerFooter #lowerFooterLinks ul {
  display: flex;
}
#lowerFooter #lowerFooterLinks ul li {
  padding-left: 5px;
}

@media screen and (max-width: 1024px) {
  nav input,
nav .socials,
nav .userArea {
    display: none;
  }
  #navTop {
    width: 100%;
    justify-content: space-between !important;
  }
  #navTop .bi-list {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1025px) {
  .bi-list {
    display: none;
  }
}/*# sourceMappingURL=app.css.map */