.button {
  margin: 0 $spacing-1;
  cursor: pointer;
}
.hov:hover {
  transition: all 0.3s;
  background-color: #1579bd;
  scale: 1.02;
}

.search {
  border: 0;
  background-color: inherit;
  color: $color-gray;
  font-size: 1.3em;
}

#login-button {
  background: inherit;
  color: set-text-color($theme-color-black);
  margin: 0.5em;
  padding: $spacing-1 1em;
  border: 0;
}

#register-button {
  margin: 0.5em;
  padding: $spacing-1 1em;
  background-color: $theme-color-primary;
  color: set-text-color($theme-color-primary);
  font-weight: 700;
  border: 0;
}

#mainButton {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: $theme-color-tertiary;
  color: inherit;
  border: 0;
  border-radius: 5px;
  padding: 0.5em 3em;
  margin-top: 1em;
}

#seeMore {
  @extend #register-button;
  text-transform: uppercase;
  padding: 0.75em 3em;
  margin-top: 2em;
}

.partnerButton {
  @extend #mainButton;
  width: 90%;
  color: white;
}
