#carouselRecommended {
  @include flexCenterCenter;
  flex-direction: column;
  margin: 2em 0;
}
.carousel-item {
  height: 600px;
}

.carousel-caption {
  h5 {
    text-transform: capitalize;
  }
}

.carousel-pic {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#c-pic-1 {
  background-image: url(/assets/img/dnd-pic-1.png);
}
#c-pic-2 {
  background-image: url(/assets/img/dnd-pic-2.png);
}
#c-pic-3 {
  background-image: url(/assets/img/dnd-pic-3.png);
}
#c-pic-4 {
  background-image: url(/assets/img/dnd-pic-4.png);
}

@media screen and (min-width: 1200px) {
  #carouselArticles {
    margin: 1em auto;
    width: 100%;
    max-width: 1200px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-caption {
    h5 {
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 767px) {
  .carousel-item {
    height: 400px;
  }
  #c-pic-1,
  #c-pic-3,
  #c-pic-4 {
    background-position: right;
  }
}

@media screen and (max-width: 576px) {
  .carousel-item {
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .carousel-caption {
    h5 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
