.dropbtn {
  background-color: inherit;
  color: $color-gray;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-custom {
  position: relative;
  display: inline-block;
}
.loginArea {
  display: flex;
  justify-content: center;
}
.dropdownItem {
  border-bottom: 1px solid $theme-color-secondary;
}
.dropdown-content {
  position: absolute;
  right: 0px;
  top: 44px;
  background-color: $theme-color-black;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1;
}

.dropdown-content a {
  color: $color-gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#subNavContainer {
  position: relative;
}

.testInput {
  width: 100%;
  padding: 0.5em;
  font-size: 2em;
}
#testDiv {
  display: none;
  padding: 0.5em;
}

.show {
  display: block !important;
}

@media screen and (max-width: 576px) {
  .testInput {
    font-size: 1.1em;
  }
}
