.footerLogoImg {
  background-image: url(/assets/img/svg/footer-logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 64px;
  width: 200px;
}

#upperFooterWrapper {
  background-color: $theme-color-secondary;

  #upperFooter {
    @include flexCenterCenter;
    justify-content: space-between;
    padding: 2em 2em;
    margin-top: 2em;
    color: $color-gray;
    #footerLogo {
      @include flexCenterCenter;
      flex-direction: column;
      flex-basis: 0;
      span {
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
      }
    }
    .footerLinks {
      flex-basis: 2;
    }
    .footerListWrapper {
      width: 100%;
      @include flexCenterCenter;
      justify-content: space-evenly;
      .footerList {
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        padding: 0 10px;
        margin-bottom: 0;
        .list-item {
          color: set-text-color($theme-color-dark);
          padding-top: 5px;
        }
      }
    }
  }
}

#lowerFooterWrapper {
  background-color: $theme-color-dark;
}
#lowerFooter {
  padding: 0.75em;
  font-size: 0.7em;
  color: $color-gray;

  @include flexCenterCenter;
  justify-content: space-between;

  .copyright {
    width: 70%;
  }

  .copyright-site {
    padding-bottom: 0.5em;
  }

  .bef::before {
    content: "•";
    margin: 0px 5px;
  }

  #lowerFooterLinks {
    align-self: flex-start;
    .lowerFooterLinksItem {
      text-decoration: none;
      color: inherit;
    }
    ul {
      display: flex;
    }
  }
}

// MEDIA
@media screen and (min-width: 1200px) {
  #upperFooter,
  #lowerFooter {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  #lowerFooter {
    width: 100%;
    display: block;
    #lowerFooterLinks {
      ul {
        justify-content: center;
      }
    }
    .copyright {
      width: 100%;
      padding-bottom: 1em;
    }
  }
}

@media screen and (min-width: 768px) {
  .list-item {
    a {
      font-size: 1.25em;
    }
  }
}
@media screen and (min-width: 576px) {
  .footerLinks {
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 576px) {
  #upperFooterWrapper {
    #upperFooter {
      display: block;
      padding: 2em 0;
      .footerLinks {
        margin-top: 1rem;
      }
    }
  }
}
