article {
  display: flex;
  flex-direction: column;
  color: set-text-color($theme-color-black);
  .mainBg {
    width: 100%;
    background-image: url(/assets/img/main-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mainContent {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    div {
      margin-top: 2em;

      h1 {
        text-shadow: 2px 2px 8px #000000;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.25rem;
        text-shadow: 6px 5px 8px #000000;
      }
    }
  }
}

// MEDIA
@media screen and (min-width: 1200px) {
  #contentWrap,
  #subMainContent {
    max-width: 1200px;
    margin: 0 auto;
  }
  #subMainContent {
    img {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 1024px) {
  article {
    .mainBg {
      width: 100%;
      @include flexCenterCenter;
      flex-direction: column;
      justify-content: center;
      background-image: unset;
    }
    #contentWrap {
      @include flexCenterCenter;
      width: 100%;
      background-image: url(/assets/img/main-bg-mobile.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding-bottom: 50px;
    }
    .mainContent {
      flex-direction: column;
      width: 100%;
      max-width: 600px;
      justify-content: center;
      align-self: center;
      text-align: center;
      div {
        h1 {
          font-size: 2em;
        }
        p {
          font-size: 1.1em;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  article {
    div {
      .mainContent {
        h1 {
          font-size: 1.5em;
        }
        p {
          font-size: 0.9em;
        }
        #mainButton {
          font-size: 1em;
          padding: 0.5em 1.5em;
        }
      }
    }
  }
}
