header {
  background-color: $theme-color-black;
}
nav {
  background: $theme-color-black;
  border-bottom: 1px solid red;

  #navTop {
    @include flexCenterCenter;
  }
  #navContainer {
    @include flexCenterCenter;
  }
  .navLogo {
    padding: 0 $spacing-1;
  }
  input {
    background-color: inherit;
    border: 0;
    color: $color-gray;
    font-weight: 700;
  }
  ul {
    margin: 0;
    padding: 0 $spacing-1;
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.4);
    li {
      color: set-text-color($theme-color-black);
      //Utilizzo la funzione creata in precedenza per settare il colore degli item lista nella nav a bianco
      padding: 1em $spacing-1;
      i {
        font-size: 1.1em;
      }
    }
  }
}

#subNav {
  background-color: $theme-color-secondary;
  color: $color-gray;
  #subNavUl {
    margin: 0;
    display: flex;
    li {
      padding: 1em;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

// MEDIA

@media screen and (max-width: 1024px) {
  nav {
    input,
    .socials,
    .userArea {
      display: none;
    }
  }
  #subNav {
    display: none;
  }
  #navTop {
    width: 100%;
    justify-content: space-between !important;
    .bi-list {
      font-size: 1.5em;
    }
  }
}
@media screen and (min-width: 1025px) {
  .bi-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #navContainer {
    width: 100%;
    border-bottom: 1px solid red;
  }
  #subNavContainer {
    width: 100%;
    background-color: $theme-color-secondary;
  }
  nav,
  #subNav {
    margin: 0 auto;
    max-width: 1200px;
    border-bottom: 0;
  }
}
