$spacing-1: 0.5em;

$theme-color-primary: #bc0f0f;
$theme-color-secondary: #26282a;
$theme-color-tertiary: #1b9af0;
$theme-color-dark: #191a1b;
$theme-color-black: #000000;

$color-gray: #979aa4;
$color-purple: #8b4bcc;
$color-red: #c41a1f;
$color-orange: #f05523;
